<header class="sticky top-0 z-30 flex h-20 items-center">
  <div class="grow">
    {# <img {{ craft.entries.section('globals').one().logo.one() }} class="h-12 w-12 ml-4"> #}
  </div>
  <div>
    {{ craft.navigation.render('header') }}
  </div>
</header>
